
<a href="{% url 'kingchobo:input' %}">입력하기</a>

{% if member_list %}
        {% for member in member_list %}
            {% if forloop.first %}
    <table border="1">
        <tr>
            <td>번호</td>
            <td>이름</td>
            <td>처리</td>
        </tr>
            {% endif %}
        <tr>

            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'kingchobo:detail' member.id %}">{{ member.name }}</a></td>
            <td><a href="{% url 'kingchobo:delete' member.id %}">삭제</a></td>
        </tr>
            {% if forloop.last %}
        </table>
            {% endif %}
        {% endfor %}

{% else %}
    <p>회원 데이터가 없습니다.</p>
{% endif %}