{% load static %}

<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

<div class="container mt-4">
    <h1>입력하기</h1>

    <form method="post" action="{% url 'kingchobo:create' %}">
        {% csrf_token %}
        이름 : <input type="text" name="name" class="form-control"><br>
        이메일 : <input type="text" name="email" class="form-control"><br>
        프로필<br>
        <textarea name="profile" class="form-control"></textarea><br>
        <input type="submit" value="입력확인" class="btn btn-danger">
    </form>
</div>
